<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/derm_images_16_by_16.png">
         <run
               class="com.bh.derma.images.platform.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.bh.derma.images.ui.Perspective"
            id="derma-images.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.bh.derma.images.ui.ImagesGridView"
            icon="icons/images_grid_black_squares_16_by_16.png"
            id="com.bh.derma.images.ui.ImagesGridView"
            name="Images">
      </view>
      <view
            class="com.bh.derma.images.ui.CompareResultsView"
            icon="icons/compare_16_by_16.png"
            id="com.bh.derma.images.ui.CompareResultsView"
            name="Compare results">
      </view>
      <view
            class="com.bh.derma.images.ui.NewPatientView"
            icon="icons/new_patient_16_by_16.png"
            id="com.bh.derma.images.ui.NewPatientView"
            name="New Patient"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
          <menu
            label="File">
            <command
                  commandId="derma-images.commands.export.compare.results.command"
                  label="Export..."
                  style="push">
            </command>
            <separator
                  name="derma-images.separator1"
                  visible="true">
            </separator>
            <command
              commandId="org.eclipse.ui.file.exit"
              label="Exit"
              style="push">
        	</command>
          </menu>
          <menu
                label="&amp;Window">
             <command
                   commandId="org.eclipse.ui.views.showView"
                   label="Show View"
                   style="push">
             </command>
          </menu>
          <menu
                label="Edit">
             <command
                   commandId="org.eclipse.ui.window.preferences"
                   label="Preferences"
                   style="push">
             </command>
          </menu> 
      </menuContribution>
      <!--menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.trim.status">
         <toolbar
               id="derma-images.toolbar1">
            <command
                  commandId="com.bh.derma.images.reset.command"
                  label="Reset"
                  style="push">
            </command>
         </toolbar>
      </menuContribution-->
   </extension>
   
   <!--extension
         point="org.eclipse.ui.services">
      		<serviceFactory
            	factoryClass="com.bh.derma.images.service.PatientServiceFactory">
		         <service
		               serviceClass="com.bh.derma.images.service.IPatientService">
		         </service>
      </serviceFactory>
   </extension-->
   
   <extension
         point="org.eclipse.ui.commands">
         <command
         name="Export..."
               id="derma-images.commands.export.compare.results.command">
               <defaultHandler
                     class="com.bh.derma.images.commands.handlers.ExportCompareResultsHandler">
               </defaultHandler>
         </command>
         <command
               defaultHandler="com.bh.derma.images.commands.handlers.ResetCommandHandler"
               id="com.bh.derma.images.reset.command"
               name="Reset">
         </command>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="derma-images.application"
            name="dermImage">
         <property
               name="appName"
               value="dermImage">
         </property>
      </product>
   </extension>
   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="derma-images.application"
            name="dermImage">
         <property
               name="appName"
               value="dermImage">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.bh.derma.images.preference.DermaImagesPreferencePage"
            id="derma.images.preferences"
            name="Derma_Images_Preferences">
      </page>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="derma-images.application"
            name="DermImages">
         <property
               name="appName"
               value="DermImages">
         </property>
      </product>
   </extension>

</plugin>
